html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #304455;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: auto;
}

h1 {
  font-weight: 400;
  margin: 0 1rem;
  font-size: min(10vw, 1.5em);
  color: #273849;
  opacity: 0.7;
}

img {
  max-width: 500px;
}

a.button {
  padding: 0.75em min(7vw, 2em);
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #304455;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #304455;
  text-decoration: none;

  margin: 3em 0;
  font-size: min(7vw, 0.9em);
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 8em;

  text-transform: uppercase;
}

footer {
  margin: 1.5rem;
}

.netlify {
  opacity: 0.5;
}
