name: Index Update

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: {}

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 16.x
          cache: pnpm
      - run: pnpm i
      - run: npm run readme
      - run: npm run lint -- --fix
      - uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: update index'
