name: Labeling

on:
  issues:
    types: [opened, labeled]

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: cd scripts && npm i --only=production
      - run: cd scripts/actions && npx esno ./loader.ts ${{github.token}} labeling
